.header
{
height:300px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#666666;
}
.h
{
height:250px;
width:1000px;
}
.logo
{
float:left;
}
.name
{
height:250px;
width:700px;
float:right;
}
.n
{
position:relative;
top:100px;
left:250px;
font-size:36px;
}
.menu 
{
height:50px;
width:1000px;
float:left;
}
.menu ul li
{
display:inline;
padding:50px;
}
.menu ul a
{
text-decoration:none;
font-size:24px;
}
.footer
{
height:100px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#99FF99;
}
.copy
{
text-align:center;
font-size:24px;
}
.home
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#999933;
}
.img
{
float:left;
}
.heading
{
height:100px;
width:1000px;
float:left;
text-align:center;
background-color:#99FF99;
}
.para
{
height:200px;
width:1000px;
float:left;
font-size:24px;
text-align:justify;
}
.about
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#99FF33;
}
.img1
{
float:left;
}
.img2
{
float:left;
}
.img3
{
float:right;
}
.img4
{
float:left;
}
.img5
{
float:left;
}
.img6
{
float:right;
}
.service
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#00CCFF;
text-align:center;
}
.contact
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#00CCFF;
}
.map
{
float:left;
}
.address
{
height:300px;
width:500px;
float:left;
text-align:center;
background-color:#99CC99;
font-size:24px;
}
.contact1
{

height:300px;
width:500px;
float:right;
text-align:center;
background-color:#99FF00;
font-size:24px;
}
.register
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#00CCFF;
text-align:center;
}